<library path="lib/libaraig_gui_stand_alone">
  <class name="araig_gui_stand_alone/AraigGui" type="AraigGui" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      GUI for ARAIG tests
    </description>
    <qtgui>
      <group>
        <label>Custom</label>
        <icon type="theme">folder</icon>
        <statustip>Custom plugin</statustip>
      </group>
      <label>Araig GUI stand_alone</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
